<div class="splashscreen" *ngIf="splashScreen" (click)="closeSplash()">
    <img src="assets/img/logo_splash.png">
</div>

<!--ion-menu type="overlay" id="admin-menu" [content]="sidemenu"
[class.hidden]="splashScreen">
    <ion-content>
        <ion-list>
            <button ion-item *ngFor="let p of adminPages" (click)="goToPage2(p)">
                {{p.name}}
            </button>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-menu type="overlay" id="client-menu" [content]="sidemenu"
[class.hidden]="splashScreen">
    <ion-content>
        <ion-list>
            <p (click)="goToPage()">Client menu</p>
        </ion-list>
    </ion-content>
</ion-menu-->

<ion-nav #sidemenu [root]="rootPage" [class.hidden]="splashScreen"></ion-nav>
