<ion-content>

  <ion-slides pager>

      <ion-slide>
          <img src="assets/img/onboarding/step1.png">
          <h2>Escaneá los códigos QR</h2>
          <p>
              Luego de comprar una cerveza en nuestros bares, podras escanear
              el codigo QR ubicado en el ticket de compra para acumular puntos
          </p>
      </ion-slide>

      <ion-slide>
          <img src="assets/img/onboarding/step2.png">
          <h2>Canjeá tus puntos</h2>
          <p>
              Canjea tus puntos acumulados por una amplia variedad de premios
              que van desde cervezas hasta merchandising de Patagonia
          </p>
      </ion-slide>

      <ion-slide>
          <img src="assets/img/onboarding/step3.png">
          <h2>Competi por premios</h2>
          <p>
              Participá en los eventos organizados entre bares por grandes
              premios para vos y tus amigos
          </p>
      </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer>
    <button ion-button (click)="doFbLogin()">INICIAR SESION</button>
    <button ion-button (click)="goToClientPage(); doGhostLogin()" color="light" clear>
        CONTINUAR SIN INICIAR SESION
    </button>
</ion-footer>
