<ion-header>
  <ion-navbar>
    <ion-title>Authentication</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides pager>

    <ion-slide>
      <h2>Slide 1</h2>
      <img src="assets/img/logo_splash.png">
    </ion-slide>

    <ion-slide>
      <h2>Slide 2</h2>
    </ion-slide>

    <ion-slide>
      <h2>Slide 3</h2>
    </ion-slide>

  </ion-slides>
  <button ion-button (click)="goToAdminPage()">Admin view</button>
  <button ion-button (click)="goToClientPage()">Client view</button>

  <button ion-button (click)="doFbLogin()">Login With Facebook</button>
</ion-content>
