<ion-content>

  <ion-slides pager>

      <ion-slide>
          <img src="assets/img/onboarding/step1.png">
          <h2>Escaneá los códigos QR</h2>
          <p>
              Escanea un codigo QR con o sin cuenta
          </p>
      </ion-slide>

      <ion-slide>
          <img src="assets/img/onboarding/step2.png">
          <h2>Canjeá tus puntos</h2>
          <p>
              Canjea tus codigos por distintos tipos de premios
          </p>
      </ion-slide>

      <ion-slide>
          <img src="assets/img/onboarding/step3.png">
          <h2>Competi por premios</h2>
          <p>
              Cuantos mas puntos sumes mejores seran los premios que
              puedas canjear
          </p>
      </ion-slide>

  </ion-slides>

</ion-content>

<ion-footer>
    <button ion-button (click)="doFbLogin()">INICIAR SESION</button>
    <button ion-button (click)="goToClientPage(); doGhostLogin()" color="light" clear>
        CONTINUAR SIN INICIAR SESION
    </button>
</ion-footer>
