RedeemComponent
<div *ngIf="user">
    {{user.points}}
</div>
<ion-content class="card-background-page">

  <ion-card>
    <img src="https://cdn.shopify.com/s/files/1/1103/5152/products/Patagonia-24-7-1000x1467_1024x1024.jpg?v=1483734202"/>
    <div class="card-title">São Paulo</div>
    <div class="card-subtitle">41 Listings</div>
  </ion-card>

  <ion-card>
    <img src="https://cdn.shopify.com/s/files/1/1103/5152/products/vaso-patagonia-x6-1000x1467-300_1024x1024.jpg?v=1483640612 "/>
    <div class="card-title">Amsterdam</div>
    <div class="card-subtitle">64 Listings</div>
  </ion-card>

  <ion-card>
    <img src="https://cdn.shopify.com/s/files/1/1103/5152/products/gorro-patagonia-01-1000x1467_2_1024x1024.jpg?v=1482938596"/>
    <div class="card-title">San Francisco</div>
    <div class="card-subtitle">72 Listings</div>
  </ion-card>

  <ion-card>
    <img src="https://cdn.shopify.com/s/files/1/1103/5152/products/beerpacks-patagonia-growler-1000x1467-02_1024x1024.jpg?v=1482427396"/>
    <div class="card-title">Madison</div>
    <div class="card-subtitle">28 Listings</div>
  </ion-card>

</ion-content>
