<div class="profile-tab">

    <div class="content" *ngIf="user">
        <div class="avatar round">
            <img src="{{user.image}}">
        </div>

        <h3 class="name">{{user.name || user.facebook.name}}</h3>
        <span class="bar-location" *ngIf="bar">
            <!-- if active bar -->
            <div *ngIf="activeBar">
              <ion-icon name='md-pin'></ion-icon>{{bar.name}}
            </div>
            <!-- else -->
            <div *ngIf="!activeBar">
              <ion-icon name='md-pin'></ion-icon>no active bar
            </div>
        </span>

        <ion-list class="points">
            <ion-item class="point">
                <span class="desc">Puntos acumulados</span>
                <h1 class="number">
                    {{user.points}}
                    <button ion-button>
                        <ion-icon name="md-code"></ion-icon>
                    </button>
                </h1>
            </ion-item>
            <ion-item class="point">
                <span class="desc">Cervezas regaladas</span>
                <h1 class="number">
                    {{user.prizes.length}}
                    <button ion-button>
                        <ion-icon name="md-beer"></ion-icon>
                    </button>
                </h1>
            </ion-item>
            <ion-item class="point">
                <span class="desc">Cerveza favorita</span>
                <h1 class="beer-name">
                    PALE ALE KUNE
                    <button ion-button>
                        <ion-icon name="md-star"></ion-icon>
                    </button>
                </h1>
            </ion-item>
        </ion-list>
    </div>
    <div class="footer">
        <button ion-button (click)="redeemPoints()">CANJEAR PUNTOS</button>
    </div>

</div>
