profile-tab {
    .profile-tab {

    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        ion-list.points {
            width: 100%;
            margin-top: 30px;
            border: 1px solid rgba(223, 172, 71, 0.18);
            border-radius: 5px;
            background-color: rgba(184,115,51,0.1);

            ion-item.point {
                display: flex;
                padding: 10px 25px;
                color: $color-light;
                border: 1px solid rgba(223, 172, 71, 0.18);
                background: transparent;
                ion-label {
                    display: flex;
                    align-items: center;
                }
                .item-inner {
                    border: none;
                    padding-right: 0;
                    overflow: visible;
                }


                .number, .desc {
                    margin: 0;
                }
                .number {
                    display: flex;
                    align-items: center;
                    font-size: 50px;
                    font-weight: 900;
                    button {
                        border-radius: 100%;
                        width: 30px;
                        height: 30px;
                        background: $color-grey;
                        margin-left: 10px;
                    }
                    ion-icon {
                        font-size: 15px;
                    }
                }
                .desc {
                    font-size: 20px;
                    font-weight: 300;
                    max-width: 120px;
                    white-space: normal;
                    margin-right: auto;
                }

            }
        }

        ion-list ion-item.item {

        }
    }

    .footer {
        display: flex;
        justify-content: center;
        flex-direction: column;
        .share {
            background: $color-grey;
        }
    }

    .content, .footer {
        width: 100%;
    }

}
